* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.app-container {
    text-align: center;
}

.card-image {
    width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
    border: 5px solid #000;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #d11111;
    color: #fff;
    transition: background-color 0.3s;
}

.btn:hover {
